@charset "utf-8";
body { 
	font-family:Verdana, Arial, Helvetica, sans-serif; 
    font-size:small; 
    background: #666666; 
	margin:0;  padding:0; 
}
#container {  
	width: 75%; background: #FFFFFF; 
    margin: 0 auto; border: 1px solid #000000; 
    text-align: left; 
} 
#header { 
	background: #DDDDDD; 
    padding: 0 0 0 0; 
    width:100%; 
} 
#sidebar { 
	float: left; 
    width: 25%; height: 400; 
    background: #EAF0F6; 
}
#mainContent { 
	margin: 0; 
    padding: 0; 
} 
#footer { 
	background:#A0C0DE; 
    font-size:13px; 
    color:#FFFFFF; 
} 
#footer p { 
	margin-top:0; 
    text-align:center; 
    width:100%; 
}
.clearfloat { 
	clear:both; 
    height:0; 
    font-size: 1px; 
    line-height: 0px; 
}