body {
    margin: 0;
    padding: 0;
    background-color: #5eb2b3;
    height: 100vh;
  }
  #login .container #login-row #login-column #login-box {
    margin-top: 120px;
    max-width: 600px;
    height: 435px;
    border: 1px solid #9C9C9C; 
    background-color: #EAEAEA;
  }
  #login .container #login-row #login-column #login-box #frmLogin {
    padding: 20px;
  }
  #login .container #login-row #login-column #login-box #frmLogin #register-link {
    margin-top: -85px;
  }
#img1 {
    margin-top: 10px;
  }
